<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='dinneeStyle.css') }}">
    <title>Do You Love Me</title>
</head>
<body>
   
    <main>
        <div class="container">
            <div class="text"> <h1 id="title">
               Wooohooo
            </h1>
            
           
            <div class="GIF" id="gif">
                <img src="{{ url_for('static', filename='success.gif') }}" alt="">
            </div>

            <div class="button">
                <button id="NextW">Next</button>
               
            </div>
           
        </div>
       
    </main>
    <script>
        document.getElementById("NextW").addEventListener("click", function() {
            window.location.href = "present";
        });
        
    </script>
</body>
</html>